# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log
*.sqlite3

# Environment
.env
.venv/
venv/
ENV/
env.bak/
env/

# Flask
instance/
*.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json
terraform.tfstate.backup

# Docker
*.tar
docker-compose.override.yml

# macOS / Windows / Linux system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
